body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:841px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:133px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:11px;
  width:830px;
  height:133px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:826px;
  word-wrap:break-word;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:537px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#33FF00;
  text-align:left;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:144px;
  width:637px;
  height:537px;
  color:#33FF00;
  text-align:left;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:85px;
  height:49px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:227px;
  width:75px;
  height:39px;
  font-size:14px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:227px;
  width:331px;
  height:39px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:39px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:85px;
  height:52px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:316px;
  width:75px;
  height:42px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:71px;
  word-wrap:break-word;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:316px;
  width:331px;
  height:42px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:42px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:85px;
  height:52px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:400px;
  width:75px;
  height:42px;
  font-size:14px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:71px;
  word-wrap:break-word;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:400px;
  width:331px;
  height:42px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:42px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:85px;
  height:52px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:479px;
  width:75px;
  height:42px;
  font-size:14px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:71px;
  word-wrap:break-word;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:479px;
  width:331px;
  height:42px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:42px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:564px;
  width:154px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:564px;
  width:128px;
  height:25px;
}
#u39_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39.mouseOver {
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:124px;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:50px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:154px;
  width:135px;
  height:50px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#E4E4E4;
}
#u40_img.mouseOver {
}
#u40.mouseOver {
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:131px;
  word-wrap:break-word;
}
