body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:776px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:480px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:58px;
  width:760px;
  height:480px;
}
#u376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:58px;
  width:74px;
  height:25px;
}
#u377_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:231px;
  width:310px;
  height:150px;
}
#u379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u379_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:0px;
  width:155px;
  height:30px;
}
#u380_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:155px;
  height:30px;
}
#u381_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:30px;
  width:155px;
  height:30px;
}
#u382_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:155px;
  height:30px;
}
#u383_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:60px;
  width:155px;
  height:30px;
}
#u384_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:155px;
  height:30px;
}
#u385_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:90px;
  width:155px;
  height:30px;
}
#u386_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:155px;
  height:30px;
}
#u387_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:120px;
  width:155px;
  height:30px;
}
#u388_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:231px;
  width:77px;
  height:29px;
}
#u389_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:260px;
  width:77px;
  height:29px;
}
#u390_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:289px;
  width:77px;
  height:29px;
}
#u391_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:318px;
  width:77px;
  height:29px;
}
#u392_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:347px;
  width:77px;
  height:34px;
}
#u393_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:231px;
  width:64px;
  height:29px;
}
#u394_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:260px;
  width:64px;
  height:29px;
}
#u395_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:289px;
  width:64px;
  height:29px;
}
#u396_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:318px;
  width:64px;
  height:29px;
}
#u397_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:347px;
  width:64px;
  height:34px;
}
#u398_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:130px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:101px;
  width:443px;
  height:130px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  color:#99FF66;
}
#u399_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:439px;
  word-wrap:break-word;
}
#u400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:52px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:6px;
  width:760px;
  height:52px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u400_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:756px;
  word-wrap:break-word;
}
